	/*
  	Flaticon icon font: Flaticon
  	Creation date: 22/06/2016 15:38
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-artificial-gravity-modulo:before { content: "\f100"; }
.flaticon-astronaut:before { content: "\f101"; }
.flaticon-astronaut-1:before { content: "\f102"; }
.flaticon-astronaut-2:before { content: "\f103"; }
.flaticon-comet:before { content: "\f104"; }
.flaticon-comet-1:before { content: "\f105"; }
.flaticon-europa:before { content: "\f106"; }
.flaticon-hubble-space-telescope:before { content: "\f107"; }
.flaticon-jupiter:before { content: "\f108"; }
.flaticon-lunar-module:before { content: "\f109"; }
.flaticon-mars:before { content: "\f10a"; }
.flaticon-mercury:before { content: "\f10b"; }
.flaticon-meteorite:before { content: "\f10c"; }
.flaticon-milky-way:before { content: "\f10d"; }
.flaticon-monkey:before { content: "\f10e"; }
.flaticon-moon:before { content: "\f10f"; }
.flaticon-moon-rover:before { content: "\f110"; }
.flaticon-moon-rover-1:before { content: "\f111"; }
.flaticon-neptune:before { content: "\f112"; }
.flaticon-observatory:before { content: "\f113"; }
.flaticon-planet-earth:before { content: "\f114"; }
.flaticon-planet-earth-1:before { content: "\f115"; }
.flaticon-planet-earth-2:before { content: "\f116"; }
.flaticon-planet-earth-3:before { content: "\f117"; }
.flaticon-planet-earth-4:before { content: "\f118"; }
.flaticon-satellite:before { content: "\f119"; }
.flaticon-satellite-1:before { content: "\f11a"; }
.flaticon-satellite-2:before { content: "\f11b"; }
.flaticon-satellite-dish:before { content: "\f11c"; }
.flaticon-saturn:before { content: "\f11d"; }
.flaticon-solar-system:before { content: "\f11e"; }
.flaticon-space-ship:before { content: "\f11f"; }
.flaticon-space-ship-1:before { content: "\f120"; }
.flaticon-space-ship-2:before { content: "\f121"; }
.flaticon-space-ship-3:before { content: "\f122"; }
.flaticon-space-ship-4:before { content: "\f123"; }
.flaticon-space-ship-5:before { content: "\f124"; }
.flaticon-space-ship-6:before { content: "\f125"; }
.flaticon-space-ship-7:before { content: "\f126"; }
.flaticon-space-station:before { content: "\f127"; }
.flaticon-space-station-1:before { content: "\f128"; }
.flaticon-spaceship:before { content: "\f129"; }
.flaticon-spaceship-1:before { content: "\f12a"; }
.flaticon-sputnik:before { content: "\f12b"; }
.flaticon-stargate:before { content: "\f12c"; }
.flaticon-sun:before { content: "\f12d"; }
.flaticon-ufo:before { content: "\f12e"; }
.flaticon-uranus:before { content: "\f12f"; }
.flaticon-ursa-major:before { content: "\f130"; }
.flaticon-venus:before { content: "\f131"; }